@model IEnumerable<XCafeProject.Models.Galeri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Galeri Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Resim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (item.Image==null)
                    {
                        <img src="~/pato-master/images/noImage.png" width="25">
                    }

                    else
                    {
                        <img src="@item.Image" width="25">
                    }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash btn-sm"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
